<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>
    const app=Vue.createApp({ 
        data(){
            return {
                checked:false,
                name:'未选中任何内容',
                message:''
            }
        },
        methods:{
        },
        //lazy number trim(取消字符串前后的空格)
        template:`
        <div>{{checked}}<input type="checkbox" v-model="checked" /></div>
        <div>
            {{name}}
            <input 
                type="checkbox"
                v-model="name" 
                true-value="jispang.com"
                false-value="技术胖"
            />
        </div>
        <div>
            {{message}}
            <input v-model.lazy="message" />
        </div>
        <div>
            {{ typeof message}}
            <input v-model.number="message" />
        </div>
        <div>
            {{message}}
            <input v-model.trim="message" />
        </div>
        `
    })
    const vm = app.mount("#app")
</script>
</html>